body{
  font-family:"Quicksand", sans-serif;
  background-color: lightgray;
}
h1, h2{
  font-family:"Century Gothic", sans-serif;
}
h2{
  color: darkgray;
  font-family:"Quicksand", sans-serif;
}
#weer{
  font-size: 20px;
}
#raket{
  background-image: url(../afbeelding/raket.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
  z-index: 1;
}
.landen{
  background-image: url(../afbeelding/delft.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
  z-index: 0;
}
.weer{
  background-image: url(../afbeelding/sunny.svg);
  background-repeat: no-repeat;
  z-index: 0;
  margin: 0 auto;
}
.background{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  overflow: hidden;
  height: 100px;
  width: 100px;
}
.iets{
  margin-top: 25px;
}
#naam{
  width: auto;
  height: 100px;
  overflow: scroll;
  text-align: center;
}
@media only screen and (max-device-width:740px)  {
  h1{
  font-size: 16px;
  text-align: center;
  }
  #land{
    text-align: center;
  }
  h2{
    font-size: 14px;
  }
  .landen{
    height: 150px;
  }
  .weer{
    height: 125px;
  }
  .omgeving{
    height: 125px;
  }
  #raket{
    height: 100px;
    width: 100px;
  }
}


@media only screen and (min-device-width:741px) and (max-device-width:1024px)  {
  .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  h1{
    font-size: 17px;
    text-align: center;
  }
  #land{
    text-align: center;
  }
  h2{
    font-size: 15px;
  }
  #raket{
    height: 100px;
    width: 100px;
  }
  .landen{
    width: 100%;
  }
  .weer{
    width: 50%;
    height: 150px;
  }
  .omgeving{
    width: 50%;
    height: 125px;
    margin: 0px;
  }
}

@media only screen and (min-device-width:1025px) and (max-device-width:1365px)  {
  .container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  h1{
    font-size: 18px;
    text-align: left;
  }
  h2{
    font-size: 16px;
  }

  .landen{
    width: 100%;
    height: 300px;
  }
  .weer{
    width: 50%;
    height: 150px;
  }
  .omgeving{
    width: 50%;
    height: 150px;
  }
}

@media only screen and (min-device-width:1366px)  {
  .container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  h1{
    font-size: 19px;
    text-align: left;
  }
  h2{
    font-size: 16px;
  }
  #raket{
    height: 100px;
    width: 100px;
  }
  .landen{
    width: 33.33%;
    height: auto;
  }
  .weer{
    width: 33.33%;
    height: auto;
  }
  .omgeving{
    width: 33.33%;
    height: auto;
  }
}
